# Generated with protoc-gen-openapi
# https://github.com/google/gnostic/tree/master/cmd/protoc-gen-openapi

openapi: 3.0.3
info:
    title: kittum
    description: OpenAPI contract for kittum - the NeTEx validation rules storage.
    version: 0.0.1
    x-entur-metadata:
        id: kittum
        audience: internal
        owner: team-validering
servers:
    - url: https://kittum.entur.io
paths:
    /v1/areas:
        get:
            tags:
                - AreaService
            summary: List all existing areas.
            description: List all existing areas.
            operationId: AreaService_ListAreas
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListAreasResponse'
    /v1/areas/{id}:
        get:
            tags:
                - AreaService
            summary: Get one area by its id.
            description: Get one area by its id.
            operationId: AreaService_GetArea
            parameters:
                - name: id
                  in: path
                  description: The database id of the area to lookup.
                  required: true
                  schema:
                    type: integer
                    format: int32
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Area'
    /v1/deliveryTypes:
        get:
            tags:
                - DeliveryTypeService
            summary: List all existing delivery types.
            description: List all existing delivery types.
            operationId: DeliveryTypeService_ListDeliveryTypes
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListDeliveryTypesResponse'
    /v1/deliveryTypes/{name}:
        get:
            tags:
                - DeliveryTypeService
            summary: Get one delivery type by its id.
            description: Get one delivery type by its id.
            operationId: DeliveryTypeService_GetDeliveryType
            parameters:
                - name: name
                  in: path
                  description: The name of the delivery type to lookup.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/DeliveryType'
    /v1/owners:
        get:
            tags:
                - OwnerService
            summary: List all existing owners.
            description: List all existing owners.
            operationId: OwnerService_ListOwners
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListOwnersResponse'
    /v1/owners/{id}:
        get:
            tags:
                - OwnerService
            summary: Get one owner by its id.
            description: Get one owner by its id.
            operationId: OwnerService_GetOwner
            parameters:
                - name: id
                  in: path
                  description: The database id of the owner to lookup.
                  required: true
                  schema:
                    type: integer
                    format: int32
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Owner'
components:
    schemas:
        Area:
            required:
                - name
                - owner
            type: object
            properties:
                id:
                    example: 1
                    type: integer
                    description: The database id of the area.
                    format: int32
                name:
                    example: "Personalisering"
                    type: string
                    description: The name of the area.
                owner:
                    example: 2
                    type: integer
                    description: The database id of the owner of the area.
                    format: int32
                updatedAt:
                    example: "2026-01-01T00:00:00Z"
                    type: string
                    description: The timestamp of the area.
                    format: date-time
            description: A specific area that is interested in validating certain deliveries. Owned by exactly one Owner.
        DeliveryType:
            required:
                - name
                - owner
            type: object
            properties:
                id:
                    example: 42
                    type: integer
                    description: The database id of the delivery type.
                    format: int32
                name:
                    example: "rutedata"
                    type: string
                    description: The name of the delivery type.
                owner:
                    example: 3
                    type: integer
                    description: The database id of the owner of the delivery type.
                    format: int32
                updatedAt:
                    example: "2026-01-01T00:00:00Z"
                    type: string
                    description: The timestamp of the delivery type.
                    format: date-time
            description: A named intake point for a set of files, owned by exactly one Owner.
        ListAreasResponse:
            type: object
            properties:
                areas:
                    type: array
                    items:
                        $ref: '#/components/schemas/Area'
                    description: All existing areas.
            description: Response for ListAreas.
        ListDeliveryTypesResponse:
            type: object
            properties:
                deliveryTypes:
                    type: array
                    items:
                        $ref: '#/components/schemas/DeliveryType'
                    description: All existing delivery types.
            description: Response for ListDeliveryTypes.
        ListOwnersResponse:
            type: object
            properties:
                owners:
                    type: array
                    items:
                        $ref: '#/components/schemas/Owner'
                    description: All existing owners.
            description: Response for ListOwners.
        Owner:
            required:
                - name
            type: object
            properties:
                id:
                    example: 1
                    type: integer
                    description: The database id of the owner.
                    format: int32
                name:
                    example: "team-validering"
                    type: string
                    description: The name of the owner.
                updatedAt:
                    example: "2026-01-01T00:00:00Z"
                    type: string
                    description: The timestamp of the owner.
                    format: date-time
            description: An owner of deliveries and areas, for example an Entur team.
tags:
    - name: AreaService
      description: The gRPC service to view and administrate areas.
    - name: DeliveryTypeService
      description: The gRPC service to view and administrate deliveries.
    - name: OwnerService
      description: The gRPC service to view and administrate owners.
